<% include partials/header %>
<body class="indexbody">
<div class="container-fluid">
<div class="row indexrow">
    <div class="col-md-12 indexcol">
      <div id="carousel" class="carousel slide" data-ride="carousel" data-interval="3000" data-pause="">
        <ol class="carousel-indicators">
          <li data-target="#carousel-id" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-id" data-slide-to="1" class=""></li>
          <li data-target="#carousel-id" data-slide-to="2" class=""></li>
        </ol>
        <div class="carousel-inner">
          <div class="item">
            <img data-src="holder.js/19200x1080/auto/#777:#7a7a7a/text:First slide" alt="First slide" src="http://www.entertainmentwallpaper.com/images/res1920x1080/movie/birdman-2014-04.jpg">
          </div>
          <div class="item">
            <img data-src="holder.js/19200x1080/auto/#666:#6a6a6a/text:Second slide" alt="Second slide" src="http://i.ytimg.com/vi/HJrTYOyXHA0/maxresdefault.jpg">
          </div>
          <div class="item active">
            <img data-src="holder.js/19200x1080/auto/#555:#5a5a5a/text:Third slide" alt="Third slide" src="http://www.ukaiaas.no/images/program/gonegirl.jpg">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>

<!-- <form class="form" action="/movies" method="get">
  <legend>Search for a movie</legend>
  <div class="form-group">
    <input type="text" name="q" class="form-control" placeholder="Search for a movie here.">
  </div>
  <input type="submit" value="search" class="btn btn-default">
</form>
<hr> -->
<!-- <form class="form" action="/movies" method="get">
  <legend>Search by imdb ID.</legend>
  <div class="form-group">
    <input type="text" name="id" class="form-control" placeholder="Search by ID here.">
  </div>
  <input type="submit" value="search" class="btn btn-default">
</form> -->
<% include partials/footer %>