.container {
  width: 100%;
}
.favourites-row {
  padding-left: 3%;
}
.favourites-container>a{
  padding-left: 1%;
}
.favourites-container h1{
  padding-bottom: 1%;
}
.item {
  display: inline-block;
  padding-bottom: 5px;
}

.posters {
  height: 445px;
  width: 300px;
}

.delete-button {
  position:absolute;
  display: none;
  z-index: 99;
}

.fav-button {
  position:absolute;
  display: none;
  z-index: 99;
}

.favourite-btn {
  background: rgba(0,0,0,0);
  border: none;
}

.glyphicon {
  color: white;
}

.overlay {
  background: rgba(9, 9, 0, 0.75);
  font-family: Oswald;
  color: rgba(255, 247, 235, .9);
  font-size: 1em;
  opacity: 0;
  overflow: hidden;
  padding: 3.75em 3em;
  position: absolute;
  text-align: center;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  width: 300px;
  height: 445px;
  margin-top: -445px;
}

.item:hover .overlay {
  opacity: 1;
}
.item:hover .posters {
  -webkit-filter: blur(5px);
  -webkit-transition: 0.2s;
}

.overlay:after,
.overlay:before {
  border: 1px solid rgba(255, 255, 255, 0.7);
  bottom: 1em;
  content: '';
  left: 1em;
  opacity: 0;
  position: absolute;
  right: 1em;
  top: 1em;
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
  -webkit-transition: 0.6s 0.2s;
  transition: 0.6s 0.2s;
}

.overlay:before {
  border-bottom: none;
  border-top: none;
  left: 2em;
  right: 2em;
}

.overlay:after {
  border-left: none;
  border-right: none;
  bottom: 2em;
  top: 2em;
}

.overlay:hover:after,
.overlay:hover:before {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

.overlay h2 { margin-top: 0; }

.overlay p { margin-bottom: 1.5em; }

.container-fluid {
  width: 100%;
  height: 100%;
}
.indexrow {
  width: 100%;
  height: 100%;
}
.indexcol {
  width: 100%;
  height: 100%;
}

#carousel {
  height: 100%;
  width: 100%;
}
.carousel-inner {
  height:100%;
  width: 100%;
}
.carousel .item {
  height:100%;
  width: 100%;
}
.carousel .item img {
  height:100%;
  width: 100%;
}
.jumbotron {
  background-color: rgba(22, 9, 0, 0.5);
  font-family: Oswald;
}
.jumbotron h1 {
  font-size: 40px;
  color: rgba(255, 247, 235, .9);
}
.jumbotron p {
  font-size: 18px;
  color: rgba(255, 247, 235, .9);
}

.jumbotron>hr {
  border-top-color: rgba(255, 247, 235, .9);
}

small {
  font-size: 26px;
  color: rgba(255, 247, 235, .9);
}

body {
  font-size: 18px;
  background: rgba(218, 205, 185, 0.5);
  color: rgba(0, 36, 45, 1);
  position: relative;
  z-index: 10;
}

.right p {
  margin-top: 10px;
}

.navbar-default {
  background-color: rgba(22, 9, 0, 0.5);
  border: none;
  border-radius: 0;
}

.navbar-default .navbar-brand {
  background-color: rgba(22, 9, 0, 0.3);
  color: rgba(255, 255, 235, 0.9);
  font-family: Oswald;
  position: fixed;
  z-index: 1;
}

a {
  color: rgba(0, 36, 45, 1);
}

hr {
  border-top: 1px solid rgba(0, 36, 45, 1);
}

legend {
  border-bottom: 1px solid rgba(0, 36, 45, 1);
}

.progress-bar-success {
  background-color: rgba(0, 36, 45, 1);
}
.progress {
  background-color: rgba(128, 125, 125, 0.12);
}